<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>xulrunner</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
				<string>gif</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
				<string>JPEG</string>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>Flickr Uploadr 3.0, © Yahoo!, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.flickr.uploadr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flickr Uploadr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>FLUP</string>
	<key>CFBundleIconFile</key>
	<string>icons.icns</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Flickr Uploadr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chrome</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0</string>
</dict>
</plist>
