/* Normal dialogs */
dialog {
	width: 300px;
}



/*
 * The special about dialog
 */

#dialog_about {
	width: 500px;
}

#logo {
	width: 120px;
	margin: 15px 0 0 0;
	background: url(logo_flickr.png) no-repeat;
}