/* Baseline style, not sure how necessary it is */
box, toolbox, hbox, vbox {
	margin: 0;
	padding: 0;
	border: 0;
}



/*
 * Header
 */

#head {
	background: url(header_bg.png);
	border-bottom: 1px solid #ddd;
}

/* Logo */
#logo {
	width: 100px;
	height: 37px;
	background: url(logo_flickr.png) no-repeat 0 5px;
}

/* User indicator */
#username {
	margin: 5px 5px 0 0;
}



/*
 * Footer
 */

#footer {
	display: none;
	height: 28px;
	background: white;
}

/* Borders */
#footer.photos {
	border-top: 1px dotted #ddd;
}
#footer.queue {
	border-bottom: 1px dotted #ddd;
}

/* Free user bandwidth counter */
#free {
	display: none;
	margin: 0;
	padding: 0;
}

/* Upload progress meter */
#progress_queue {
	height: 28px;
	width: 21px;
	margin: 0;
	padding: 0;
}
#footer.photos #progress_queue {
	background: url(button_slider_closed.png);
}
#footer.photos #progress_queue:active {
	background: url(button_slider_closed_click.png);
}
#footer.queue #progress_queue {
	background: url(button_slider_open.png);
}
#footer.queue #progress_queue:active {
	background: url(button_slider_open_click.png);
}
#progress_bar, .progress_bar box {
	width: 0;
	border-right: 2px solid #ff0084;
	background: #f8f8f8;
}
#progress_text {
	margin: 2px 0 0 0;
	padding: 2px 0 0 32px;
	font-size: 14px;
	font-weight: bold;
}
#progress_text.spinning {
	background: url(balls-16x8-trans.gif) no-repeat 8px 8px;
}
#progress_text.done {
	background: url(icon_upload_success.png) no-repeat 4px 0;
}
#progress_text.error {
	background: url(icon_alert.png) no-repeat 9px 2px;
}
.progress_bar {
	height: 12px;
	margin: 3px;
	background: white;
	text-align: left;
}
.progress_bar box {
	height: 12px;
	margin: 0;
}
.progress_bar box.done {
	border: 0;
	background: white url(icon_check.png) no-repeat center right;
}

/* Buttons */
div.button, div.disabled_button {
	height: 22px;
	margin: 0 5px 5px 0;
	cursor: default;
}
div.button {
	background: url(buttons_blue.png) no-repeat;
}
div.disabled_button {
	background: url(buttons_grey.png) no-repeat;
}
div.button div, div.disabled_button div {
	padding: 5px 5px 6px 5px;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
div.button div {
	background: url(buttons_blue_slide.png) no-repeat top right;
	color: white;
}
div.disabled_button div {
	background: url(buttons_grey_slide.png) no-repeat top right;
	color: #888;
}
div.button:active {
	background-position: 0 -22px;
}
div.button div:active, div.small.button div:active {
	background-position: bottom right;
}

/* Smaller buttons */
div.small.button, div.small.disabled_button {
	height: 20px;
}
div.small.button {
	background: url(buttons_9px_blue.png) no-repeat;
}
div.small.disabled_button {
	background: url(buttons_9px_grey.png) no-repeat;
}
div.small.button div, div.small.disabled_button div {
	padding: 6px 5px 5px 5px;
	font-size: 9px;
	line-height: 9px;
	font-weight: normal;
}
div.small.button div {
	background: url(buttons_9px_blue_slide.png) no-repeat top right;
}
div.small.disabled_button div {
	background: url(buttons_9px_grey_slide.png) no-repeat top right;
}
div.small.button:active {
	background-position: 0 -20px;
}

/* Make the upload, OK and Ready buttons extra gaudy */
#button_upload, #button_ok, #button_auth {
	width: 193px;
	height: 37px;
	background: url(upload_off.png) no-repeat;
}
#button_upload.button:active, #button_ok.button:active, #button_auth.button:active {
	background: url(upload_click.png) no-repeat;
}
#button_upload div, #button_ok div, #button_auth div {
	padding: 5px 0 11px 0;
	background: transparent;
	font-size: 21px;
	line-height: 21px;
	text-transform: none;
	text-align: center;
}
#button_upload.button div, #button_ok.button div, #button_auth.button div {
	color: #ff0084;
}
#button_upload.disabled_button {
	visibility: hidden;
}

/* Vertically center the cancel button */
#button_cancel {
	margin: 3px;
}



/*
 * Utilities
 */

/* Nested form indentation, used all over */
radiogroup checkbox {
	margin-left: 16px;
}

/* Special messages */
.status {
	margin: 5px;
	padding: 5px;
	background: #ffc;
}
.status h3, .status p {
	margin: 0;
}

/* Make anything look like a link */
.link {
	color: #0063dc;
	text-decoration: underline;
	cursor: pointer;
}



/*
 * Toolbar
 */

#tools {
	margin: 5px;
	padding: 0;
	background: url(header_bg.png);
}
div.toolbarseparator {
	width: 1px;
	margin: 0 15px;
	background: #eee;
}
#t_add, #t_remove {
	margin: 0 5px 0 0;
}
#t_rotate_l, #t_rotate_r {
	width: 30px;
	height: 24px;
	margin: 0 5px 0 0;
	background: url(buttons.png) no-repeat;
	border: 0;
}
#t_rotate_l.disabled {
	background-position: -42px -3px;
}
#t_rotate_l.enabled {
	background-position: -42px -35px;
}
#t_rotate_l.enabled:active {
	background-position: -42px -67px;
}
#t_rotate_r.disabled {
	background-position: -72px -3px;
}
#t_rotate_r.enabled {
	background-position: -72px -35px;
}
#t_rotate_r.enabled:active {
	background-position: -72px -67px;
}

/* Bandwidth indicators */
#bw_remaining, #bw_batch {
	display: none;
	text-align: center;
}
#bw_remaining {
	margin: 0 15px 0 0;
}
#bw_batch {
	margin: 0 15px;
	padding: 0 0 0 15px;
	border-left: 1px solid #eee;
}
#bw_remaining p, #bw_batch p, #bw_remaining_mb, #bw_batch_mb {
	margin: 0;
}
#bw_remaining p, #bw_batch p {
	color: #bbb;
}
#bw_remaining_mb.almost, #bw_batch_mb.almost {
	color: #800;
}
#bw_remaining_mb.exhausted, #bw_batch_mb.exhausted {
	color: #f00;
}



/*
 * The photos container
 */

#photos {
	min-width: 426px;
	margin: 0;
	padding: 5px;
	overflow: auto;
	overflow-x: hidden;
}

/* Photostream look and feel */
#photostream {
	height: 48px;
	padding: 5px;
}
#buddyicon {
	margin: 0;
	padding: 0 5px 0 0;
}
#photostream h1 {
	margin: -5px 0 -5px 0;
	padding: 0;
}
#photostream p {
	margin: 0;
	padding: 0;
}	
#photostream_pro {
	display: none;
}
#photostream_tools {
	text-align: right;
	vertical-align: bottom;
}

/* Messages in the photos container */
#photos_stack {
	visibility: hidden;
}
#photos_new {
	display: none;
}
#photos_init h1, #photos_new h1, #photos_init h2, #photos_new h2 {
	color: #bbb;
	text-align: center;
	font-weight: normal;
}
#photos_init h1, #photos_new h1 {
	margin: 150px 50px 0 50px;
}
#photos_init h2, #photos_new h2 {
	margin: 10px 50px;
}
#photos_init hbox {
	margin: 5px;
}
#photos_init hbox box h2 {
	margin: 0;
	padding: 0 5px 0 0;
}

/* Dragging photos into the container */
.no_drag {
	background: white;
}
.drag {
	background: #fff0f8;
}

/* Sort indicators */
#photos_sort_default, #photos_sort_revert {
	margin: 0;
	padding: 0;
}
#photos_sort_default {
	color: #bbb;
}
#photos_sort_revert {
	display: none;
}

/* The actual list of photos and similar properties of the queue */
#photos_list, #queue_list {
	margin: 5px 0 0 0;
	padding: 0;
	list-style-type: none;
}
#photos_list li, #queue_list li {
	float: left;
	clear: none;
	width: 116px;
	height: 116px;
	margin: 0;
	padding: 5px 1px;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	text-align: center;
	vertical-align: middle;
}
#photos_list li img, #queue_list li img {
	margin: auto;
	padding: 3px;
	background: transparent;
}

/* Image states */
#photos_list li img.loading {
	margin: 20px 0 0 0;
}
#photos_list li img.selecting {
	padding: 2px;
	border: 1px solid #ff0084;
	background: white;
}
#photos_list li img.selected {
	padding: 1px;
	border: 2px solid #ff0084;
	background: white;
	cursor: move;
}
#photos_list li img.dragging {
	opacity: 0.5;
}
#photos_list li.drop_left {
	border-left: 2px solid black;
}
#photos_list li.drop_right {
	border-right: 2px solid black;
}

/* Cursor follower for dragging */
#drag_follower {
	display: none;
	position: absolute;
	height: 14px;
	padding: 0 3px;
	text-align: center;
	font-weight: bold;
	color: white;
	background: #ff0084;
}

/* A semi-opaque box for selecting multiple images */
#drag_select {
	display: none;
	position: absolute;
	border: 1px solid #0063dc;
	background: url(drag_select.png);
}



/*
 * Photo metadata
 */

/* Three states, depending on what's selected */
#meta, #batch_meta, #no_meta, #meta_button {
	width: 420px;
	padding: 5px;
	background: #f8f8f8;
	border-left: 1px solid #ddd;
}
#meta, #batch_meta {
	display: none;
	overflow: hidden;
}
#no_meta_prompt {
	display: none;
}

/* Minimize jumping around with a min-height on the status messages */
.thumb_height {
	min-height: 103px;
}

/* Two columns */
#meta table tr td, #batch_meta table tr td {
	width: 200px;
	padding: 0 5px;
	vertical-align: top;
}
#meta table tr td label, #batch_meta table tr td label {
	display: block;
}
#meta table tr td textbox, #batch_meta table tr td textbox {
	width: 180px;
}

/* Initially, and while logged-out, don't show sets */
#hide_single_sets, #hide_batch_sets {
	visibility: hidden;
}

/* The upload button, which is big */
#meta_button {
	height: 38px;
	padding: 5px;
}

/* If one image selected, this shows the thumbnail */
#single_preview {
	display: none;
}
#meta_div {
	width: 100px;
	height: 103px;
	margin: 5px;
}
#meta_div img {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

/* Sets lists */
#hide_single_sets, #hide_batch_sets {
	margin: 5px;
}
#single_sets_add, #batch_sets_add, #single_sets_added, #batch_sets_added {
	width: 199px;
	height: 90px;
	overflow: auto;
	margin: 0;
	padding: 0;
	background: white;
	list-style-type: none;
}
#single_sets_added, #batch_sets_added {
	border-left: 1px solid #ddd;
}
.sets_none {
	margin: 2px;
	color: #bbb;
	font-style: italic;
	text-align: center;
	background: transparent;
}
.sets_plus, .sets_trash {
	margin: 2px;
	padding: 0 0 0 16px;
	cursor: pointer;
}
.sets_plus {
	background: url(icon_add.png) no-repeat center left;
}
.sets_trash {
	background: url(icon_trash.png) no-repeat center left;
}

/* Must explicitly allow the creating of sets */
#single_sets_create, #batch_sets_create {
	visibility: hidden;
}


/*
 * The upload queue
 */

#page_queue {
	display: none;
	overflow: auto;
	background: white;
}



/*
 * Authorization cleanup
 */

#page_auth {
	display: none;
	padding: 0 200px;
	background: white;
	text-align: center;
}



/*
 * Tips and tricks page
 */
#page_help {
	display: none;
	padding: 24px;
	background: white;
}
#page_help td {
	vertical-align: top;
	/*border: 1px solid red;*/
}
#page_help td.spacer {
	width: 12%;
}
#page_help td.column {
	width: 32%;
}
#page_help p {
	font-size: 14px;
}