/* Common things
 */
box, toolbox, hbox, vbox {
	margin: 0;
	padding: 0;
	border: 0;
}
#menu {
	display: none;
}
h1, h2 {
	margin-top: 0;
}
#switch {
	color: #0063dc;
	text-decoration: underline;
	cursor: pointer;
}
.fill {
	border-bottom: 1px solid #999;
}
#logo {
	width: 120px;
	height: 67px;
	background: url(logo.png) no-repeat scroll 0 10px;
	border-bottom: 1px solid #999;
}
.page {
	padding: 16px 0 16px 16px;
	background: white;
}
.page hbox vbox {
	padding: 0 16px 0 0;
}
#footer {
	height: 40px;
	padding: 5px;
	border-top: 1px solid #999;
}
#free {
	display: none;
}
#bw_used, #bw_batch, #bw_remaining {
	height: 17px;
	background: url(guages.png);
}
#bw_used, #bw_batch {
	width: 0;
}
#bw_used {
	background-position: 0 -51px;
}
#bw_batch {
	background-position: 0 -34px;
}
#bw_remaining {
	width: 94px;
	background-position: 0 -17px;
}
#progress {
	display: none;
}
#button_back, #button_ok, #button_upload {
	display: none;
}
radiogroup checkbox {
	margin-left: 16px;
}
.status {
	background: #ffb;
}
.status p {
	margin: 5px;
}

/*
 * Toolbar
 */
#tools toolbox toolbar {
	width: 217px;
	height: 34px;
	padding: 5px 0 0 10px;
	background: white;
	border-top: 1px solid #999;
	border-bottom: 0;
}
#tools toolbox toolbar toolbarbutton {
	height: 20px;
	margin: 0 5px 0 0;
	background: white url(buttons.png) no-repeat;
	border: 0;
}
#tools toolbox toolbar toolbarbutton :hover {
	border: 0;
}
toolbarseparator {
	width: 1px;
	margin: 0 15px 0 10px;
	background: #eee;
}
#t_add {
	width: 21px;
}
#t_add.disabled {
	background-position: 0px -3px;
}
#t_add.enabled {
	background-position: 0px -35px;
}
#t_add.enabled:active {
	background-position: 0px -67px;
}
#t_remove {
	width: 20px;
}
#t_remove.disabled {
	background-position: -21px -3px;
}
#t_remove.enabled {
	background-position: -21px -35px;
}
#t_remove.enabled:active {
	background-position: -21px -67px;
}
#t_rotate_l {
	width: 30px;
}
#t_rotate_l.disabled {
	background-position: -42px -3px;
}
#t_rotate_l.enabled {
	background-position: -42px -35px;
}
#t_rotate_l.enabled:active {
	background-position: -42px -67px;
}
#t_rotate_r {
	width: 30px;
}
#t_rotate_r.disabled {
	background-position: -72px -3px;
}
#t_rotate_r.enabled {
	background-position: -72px -35px;
}
#t_rotate_r.enabled:active {
	background-position: -72px -67px;
}
#t_settings {
	width: 19px;
}
#t_settings.disabled {
	background-position: -103px -3px;
}
#t_settings.enabled {
	background-position: -103px -35px;
}
#t_settings.enabled:active {
	background-position: -103px -67px;
}
#diag {
	background: url(diag.gif) no-repeat;
}
#no_tools {
	display: none;
	width: 217px;
	height: 34px;
}



/*
 * The photos container
 */

/* The container has multiple nested boxes for multiple backgrounds */
#photos {
	margin: 0;
	overflow: auto;
}
.newest {
	background: white url(newest.gif) no-repeat;
}
.oldest {
	background: url(oldest.gif) no-repeat bottom right;
}

/* Dragging photos into the container */
.no_drag {
	padding: 5px;
}
.drag {
	padding: 0;
	border: 5px solid #ff0084;
}

/* The actual list of photos */
#list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#list li {
	float: left;
	clear: none;
	width: 116px;
	height: 116px;
	margin: 0;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
#list li img {
	margin: auto;
	padding: 3px;
	background: transparent;
}

/* Image states */
#list li img.loading {
}
#list li img.selecting {
	padding: 2px;
	border: 1px solid #ff0084;
	background: white;
}
#list li img.selected {
	padding: 1px;
	border: 2px solid #ff0084;
	background: white;
	cursor: move;
}
#list li img.dragging {
	opacity: 0.5;
}

/* Cursor follower for dragging */
#drag_follower_0, #drag_follower_1, #drag_follower_2, #drag_follower_3 {
	display: none;
	position: absolute;
/*	opacity: 0.5;*/
}
#drag_follower_0 {
	background: red;
}
#drag_follower_1 {
	background: green;
}
#drag_follower_2 {
	background: blue;
}
#drag_follower_3 {
	background: yellow;
}

/* A semi-opaque box for selecting multiple images */
#drag_select {
	display: none;
	position: absolute;
	border: 1px solid #0063dc;
	background: url(drag_select.png);
}

/*
 * Photo metadata
 */

/* Three states, depending on what's selected */
#meta, #batch_meta, #no_meta {
	width: 180px;
	padding: 5px;
	background: #f4f4f4;
}
#meta, #batch_meta {
	display: none;
}

/* If one image selected, this shows the thumbnail */
#meta_div {
	width: 100px;
	height: 103px;
}
#meta_div img {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

/* Selectively show available metadata settings */
#meta_secondary {
	display: none;
}
#batch_meta_privacy_link, #batch_meta_melons_link {
	color: #0063dc;
	text-decoration: underline;
	cursor: pointer;
}
#batch_meta_privacy, #batch_meta_melons {
	display: none;
}



/* User settings page
 */
#page_users {
	display: none;
}

/* Settings page
 */
#page_settings {
	display: none;
}

/* Upload progress page
 */
#page_progress {
	display: none;
}

/* Upload complete page
 */
#page_complete {
	display: none;
}